<robot name="roomba">
  <link name="base_link"/>

  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="body_link"/>
  </joint>
  <link name="body_link">
    <visual>
      <geometry>
        <mesh filename="package://roombot_driver/stl/Roomba_model.stl" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="purple">
        <color rgba="1.0 0.0 1.0 2.0"/>
      </material>
    </visual>
  </link>
</robot>
