<launch>
  <arg name="model" default="$(find roombot_driver)/urdf/roomba_stl_body.urdf" />
  <arg name="joy" default="false" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <group if="$(arg joy)">
    <node name="joy_node"   pkg="joy" type="joy_node" />
    <node name="roombot_joy_to_twist" pkg="roombot_driver" type="roombot_joy_to_twist" />
  </group>
  <node name="roombot_rviz_sim" pkg="roombot_driver" type="roombot_rviz_sim"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
